body {
  padding: 0;
  margin: 0;
  font: 11px monaco, monospace;
}
a {
  color: #00B7FF;
}
#wrapper {
  margin: 25px 5%;
}
h2 {
  text-align: center;
}
.date {
  display: inline-block;
  float: left;
  width: 7%;
  margin-right: 1%;
  padding: 0;
}
.time {
  display: inline-block;
  float: left;
  width: 7%;
  padding: 0;
}
.sample {
  display: inline-block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 15px;
  overflow: hidden;
}
.payload {
  width: 85%;
  float: left;
  display: inline-block;
  height: 15px;
}
